<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ashaik_TestConnectionString" connectionString="Data Source=192.185.10.10;Initial Catalog=ashaik_Test;Persist Security Info=True;User ID=ashaik_abid;Password=Stoneco1d"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>